.playerlist {
    display: flex;
    flex-direction: column;
    overflow: auto; /* Add this line */
    min-width: 140rem;
    padding-left: 5rem;
}


.playerlist-header{
    width: 25rem;
}

.playerlist-list {
    display: flex;
    flex-direction: row;
}

.playerlist-list > * {
    flex-grow: 1;
}

.playerlist-button {
    display: flex;
    justify-content: flex-end;  
}

.playerlist-table{
    width:25rem;
}

.playerlist-record-table{
    margin-top: -3.3rem;
}
